# ignore cache folder
/silverstripe-cache/

# ignore all environment files
_ss_environment.php

# ignore build tools
/tools/phing-metadata

# ignore composer vendor folder
/vendor/

# ignore SS modules
/framework/
/cms/
/reports/
/siteconfig/
/themes/

# create a global .gitignore to control your environment excludes
# git config --global core.excludesfile ~/.gitignore_global
