### SILVERSTRIPE START ###
<Files *.ss>
	Order deny,allow
	Deny from all
	Allow from 127.0.0.1
</Files>

<Files web.config>
	Order deny,allow
	Deny from all
</Files>

ErrorDocument 404 /assets/error-404.html
ErrorDocument 500 /assets/error-500.html

<IfModule mod_alias.c>
	RedirectMatch 403 /silverstripe-cache(/|$)
</IfModule>

# Make sure path info is passed to PHP (but only if we can guarantee we're on
# an apache version that supports the AcceptPathInfo directive)
<IfModule mod_version.c>
	<IfVersion >= 2.0.30>
		AcceptPathInfo Default
	</IfVersion>
</IfModule>
	
<IfModule mod_rewrite.c>
	# Turn on the rewrite engine and let PHP know it's on
	SetEnv HTTP_MOD_REWRITE On
	RewriteEngine On

	# Redirect any request that isn't to a file through main.php for SilverStripe routing
	RewriteCond %{REQUEST_URI} ^/?(.*)$
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule .* framework/main.php/%1 [QSA]
	
	# If the URI contains framework/main.php, but that file doesn't exist (because 
	# framework hasn't been installed), redirect to install.php to give a warning rather 
	# than just infinitely looping
	RewriteCond %{REQUEST_URI} ^(.*)/framework/main.php$
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule . %1/install.php? [R,L]
</IfModule>
### SILVERSTRIPE END ###
