<!--
	PHPUnit configuration for SilverStripe

	Requires PHPUnit 5+

	Usage:
	 - "vendor/bin/phpunit": Runs all tests in all folders
	 - "vendor/bin/phpunit vendor/silverstripe/framework/tests/": Run all tests of the framework module
	 - "vendor/bin/phpunit vendor/silverstripe/framework/tests/filesystem": Run all filesystem tests within framework
	 - "vendor/bin/phpunit vendor/silverstripe/framework/tests/filesystem/FolderTest.php": Run a single test
	 - "vendor/bin/phpunit <dash><dash>coverage-html assets/": Generate coverage report (replace
	                                                           <dash> with "-", requires xdebug or phpdbg)

	More information:
	- http://www.phpunit.de/manual/current/en/textui.html
	- http://doc.silverstripe.org/framework/en/topics/testing/#configuration

	It is safe to remove this file for normal website operation.
-->
<phpunit bootstrap="vendor/silverstripe/framework/tests/bootstrap.php" colors="true">
    <testsuite name="Default">
        <directory>mysite/tests</directory>
        <directory>vendor/silverstripe/cms/tests/php</directory>
        <directory>vendor/silverstripe/framework/tests/php</directory>
    </testsuite>

    <!-- framework only -->
    <testsuite name="framework">
        <directory>vendor/silverstripe/framework/tests/php/</directory>
    </testsuite>

    <!-- other core components -->
    <testsuite name="core">
        <directory>vendor/silverstripe/assets/tests/php/</directory>
        <directory>vendor/silverstripe/versioned/tests/php/</directory>
    </testsuite>

    <!-- admin components -->
    <testsuite name="admin">
        <directory>vendor/silverstripe/admin/tests/php/</directory>
        <directory>vendor/silverstripe/asset-admin/tests/php/</directory>
        <directory>vendor/silverstripe/campaign-admin/tests/php/</directory>
        <directory>vendor/silverstripe/cms/tests/</directory>
        <directory>vendor/silverstripe/graphql/tests/</directory>
        <directory>vendor/silverstripe/reports/tests/</directory>
        <directory>vendor/silverstripe/siteconfig/tests/php/</directory>
    </testsuite>
</phpunit>
