<?xml version="1.0" encoding="UTF-8"?>
<!--
	PHPUnit configuration for SilverStripe

	Requires PHPUnit 9+

	Usage:
	 - "vendor/bin/phpunit": Runs all tests in all folders
	 - "vendor/bin/phpunit vendor/silverstripe/framework/tests/": Run all tests of the framework module
	 - "vendor/bin/phpunit vendor/silverstripe/framework/tests/filesystem": Run all filesystem tests within framework
	 - "vendor/bin/phpunit vendor/silverstripe/framework/tests/filesystem/FolderTest.php": Run a single test
	 - "vendor/bin/phpunit <dash><dash>coverage-html assets/": Generate coverage report (replace
	                                                           <dash> with "-", requires xdebug or phpdbg)

	More information:
	- http://www.phpunit.de/manual/current/en/textui.html
	- http://doc.silverstripe.org/framework/en/topics/testing/#configuration

	It is safe to remove this file for normal website operation.
-->
<phpunit bootstrap="vendor/silverstripe/framework/tests/bootstrap.php" colors="true">
    <testsuites>
        <testsuite name="Default">
            <directory>app/tests</directory>
            <directory>vendor/silverstripe</directory>
        </testsuite>

        <testsuite name="framework-1">
            <directory>vendor/silverstripe/framework/tests/php/Control</directory>
            <directory>vendor/silverstripe/framework/tests/php/Core</directory>
            <directory>vendor/silverstripe/framework/tests/php/Dev</directory>
            <directory>vendor/silverstripe/framework/tests/php/Forms</directory>
            <directory>vendor/silverstripe/framework/tests/php/i18n</directory>
            <directory>vendor/silverstripe/framework/tests/php/Logging</directory>
        </testsuite>

        <testsuite name="framework-2">
            <directory>vendor/silverstripe/framework/tests/php/</directory>
            <exclude>vendor/silverstripe/framework/tests/php/Control</exclude>
            <exclude>vendor/silverstripe/framework/tests/php/Core</exclude>
            <exclude>vendor/silverstripe/framework/tests/php/Dev</exclude>
            <exclude>vendor/silverstripe/framework/tests/php/Forms</exclude>
            <exclude>vendor/silverstripe/framework/tests/php/i18n</exclude>
            <exclude>vendor/silverstripe/framework/tests/php/Logging</exclude>
        </testsuite>

        <testsuite name="assets-1">
            <directory>vendor/silverstripe/assets/tests/php/Dev</directory>
            <directory>vendor/silverstripe/assets/tests/php/FilenameParsing</directory>
            <directory>vendor/silverstripe/assets/tests/php/Flysystem</directory>
            <directory>vendor/silverstripe/assets/tests/php/GDTest</directory>
        </testsuite>

        <testsuite name="assets-2">
            <directory>vendor/silverstripe/assets/tests/php/</directory>
            <exclude>vendor/silverstripe/assets/tests/php/Dev</exclude>
            <exclude>vendor/silverstripe/assets/tests/php/FilenameParsing</exclude>
            <exclude>vendor/silverstripe/assets/tests/php/Flysystem</exclude>
            <exclude>vendor/silverstripe/assets/tests/php/GDTest</exclude>
        </testsuite>

        <testsuite name="admin-1">
            <directory>vendor/silverstripe/admin/tests/php/</directory>
            <directory>vendor/silverstripe/asset-admin/tests/php/</directory>
            <directory>vendor/silverstripe/campaign-admin/tests/php/</directory>
            <directory>vendor/silverstripe/config/tests/</directory>
            <directory>vendor/silverstripe/cms/tests/</directory>
            <directory>vendor/silverstripe/errorpage/tests/</directory>
        </testsuite>

        <testsuite name="admin-2">
            <directory>vendor/silverstripe/graphql/tests/</directory>
            <directory>vendor/silverstripe/login-forms/tests/php/</directory>
            <directory>vendor/silverstripe/mimevalidator/tests/</directory>
            <directory>vendor/silverstripe/registry/tests/</directory>
            <directory>vendor/silverstripe/reports/tests/</directory>
            <directory>vendor/silverstripe/siteconfig/tests/php/</directory>
            <directory>vendor/silverstripe/versioned/tests/php/</directory>
        </testsuite>
    </testsuites>
</phpunit>
